.left-sidebar-container{
display: flex;
flex-direction: column;
font-size: 12px;
font-weight: 600;
}
.content-container-left{
    display: flex;
flex-direction: column;
height:fit-content;
max-height: 300px;
justify-content: space-between;
}
.home-image-container{
display: flex;
width: 30vw;
max-width: 280px;
padding: 3px;
padding-inline:clamp(8px, 1.5vw, 33px);
padding-block:clamp(8px, 1.5vw, 33px);
gap: 28px;
}
.home-image{
    width: 3vw;
    max-width: 25px;
}
.arrow-image {
    width: 2vw;
    height: 2vw;
    max-width: 22px;
    max-height: 22px;
}
.dropdown-list-container {
display: flex;
flex-direction: column;
margin-left: 8vw;
gap: 2vw;
}
.dropdown-list-item {
    position: relative;
  width: 13vw; 
  display: flex;
  align-items: center;
    
  }
  
  .dropdown-list-item.selected {
    color: #ff5733;
  }
  
  
  .dropdown-list-item.selected::after {
    content: '.';
    display: inline-block;
  width: 4px;
  height: 100%;
  background-color: #ff5733;
  margin-left: auto; 
  border-radius: 2px;
  }