.outer-container {
	display: flex;
	justify-content:space-between;
	align-items: center;
	height: 10vw;
	width: 100vw;
}
.navbar {
	background-color: rgb(255, 255, 255);
	/* -webkit-backdrop-filter: blur(8px); */
	z-index: 1;
	/* backdrop-filter: blur(8px); */
	position: absolute;
	height: 10vw;
	max-height: 70px;
	width: 100vw;
	display: flex;
	align-items: center;
    justify-content:space-between;
    box-shadow: 0px 12px 34px 10px #ededed;
}
.outer-container a {
	color: #274c5b;
	font-weight: 700;
}
.content-container {
	display: flex;
	justify-content:space-evenly;
	align-items: center;
	width: 80vw;
}
.search-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	/* border: 1px solid #e0e0e0; */
    background-color: #f4f6f8;
    border-width: 0;
	padding: 6px;
    width: 40vw;
    font-weight: 600;
    opacity: 0.5;
    outline: none;
}
.search-bar input {
	height: 50px;
	width: 300px;
    opacity: 1;
	border: none;
    outline: none;
	border-width: 0;
	background-color: transparent;
}

.search-bar input:focus {
	outline: none;
    border: none;
	
}
.input-div {
    background-color: #f4f6f8;
    border-radius: 6px;
    width: 46vw;
    height: 3.5vw;
    max-height: 28px;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    padding: 0.3vw;
    padding-inline: 1vw;
}

.header-title {
	font-weight: 600;
	font-size: clamp(8px, 1.6dvw, 16px);
}
.logo {
    width: 16vw;
    max-width: 180px;
    margin-right: 1.5vw;
    margin-left: 3vw;
}
.logo-container{
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
}
.search-icon{
    width: 2.5vw;
    max-width: 21px;
}
