@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
	font-family: "Poppins", cursive;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

* {
	margin: 0;
	padding: 0;
}
a {
	list-style: none;
	text-decoration: none;
}
button {
	border: none;
	outline: none;
}